*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #003b55;
}

header, nav, footer{
    padding: 10px 0;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul > li {
    padding-right: 2em;
    display: inline-block;
}

section {
    margin: 1em 0;
}

h2, h3, p, pre {
    padding-bottom: 1em;
}

a {
    color: darkblue;
}

td{
    vertical-align: top;
}

ul {
    padding-left: 2em;
    padding-bottom: 1em;
}

#page-container{
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    box-shadow: 0 0 5px 5px #05222f;
}